# Ignorar arquivos gerados pelo Visual Studio
.vs/
bin/
obj/

# Ignorar arquivos de compilação
*.dll
*.exe
*.pdb

# Ignorar arquivos de publicação
*.publish.xml
*.pubxml

# Ignorar arquivos temporários
[Tt]emp/
[Oo]bj/

# Ignorar arquivos de usuário
*.user
*.suo
*.sln.docstates

# Ignorar arquivos de cache do ReSharper
_ReSharper*/
*.resharper

# Ignorar arquivos de log
*.log

# Ignorar arquivos de backup
*.[Bb]ak
