Sistemas
/Sistemas
/Sistemas
/Back/.vs/GestaoEscalaPermutas/DesignTimeBuild/.dtbcache.v2
/Back/.vs/GestaoEscalaPermutas
/Back/.vs/ProjectEvaluation
/Back/package-lock.json
/Back/package.json
*.sqlite
/Front/node_modules/.vite/deps
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Infra.dll
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Infra.pdb
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Repository.dll
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Repository.pdb

/Front/node_modules/vite/dist/node/chunks

/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Repository.deps.json

Back/GestaoEscalaPermuta.Infra/bin/Release/net8.0/GestaoEscalaPermutas.Infra.dll
Back/GestaoEscalaPermuta.Infra/bin/Release/net8.0/GestaoEscalaPermutas.Infra.dll
Back/GestaoEscalaPermuta.Infra/bin/Release/net8.0/GestaoEscalaPermutas.Infra.pdb
Back/GestaoEscalaPermutas.Dominio/bin/Release/net8.0/GestaoEscalaPermutas.Dominio.deps.json
Back/GestaoEscalaPermutas.Dominio/bin/Release/net8.0/GestaoEscalaPermutas.Dominio.dll
Back/GestaoEscalaPermutas.Dominio/bin/Release/net8.0/GestaoEscalaPermutas.Dominio.pdb
Back/GestaoEscalaPermutas.Dominio/bin/Release/net8.0/GestaoEscalaPermutas.Infra.dll
Back/GestaoEscalaPermutas.Dominio/bin/Release/net8.0/GestaoEscalaPermutas.Infra.pdb
Back/GestaoEscalaPermutas.Dominio/bin/Release/net8.0/GestaoEscalaPermutas.Repository.dll
Back/GestaoEscalaPermutas.Dominio/bin/Release/net8.0/GestaoEscalaPermutas.Repository.pdb
Back/GestaoEscalaPermutas.Dominio/Services/Mensageria/PermutasMessageConsumer.cs
Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Repository.deps.json
Back/GestaoEscalaPermutas.Repository/bin/Release/net8.0/GestaoEscalaPermutas.Infra.dll
Back/GestaoEscalaPermutas.Repository/bin/Release/net8.0/GestaoEscalaPermutas.Infra.pdb
Back/GestaoEscalaPermutas.Repository/bin/Release/net8.0/GestaoEscalaPermutas.Repository.dll
Back/GestaoEscalaPermutas.Repository/bin/Release/net8.0/GestaoEscalaPermutas.Repository.pdb
Back/GestaoEscalaPermutas.Server/appsettings.Production.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/appsettings.Development.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/appsettings.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/appsettings.Production.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/AutoMapper.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Azure.Core.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Azure.Identity.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/BCrypt.Net-Next.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/de/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/es/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/firebase-adminsdk.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/FirebaseAdmin.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Dominio.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Dominio.pdb
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Infra.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Infra.pdb
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Repository.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Repository.pdb
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Server.deps.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Server.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Server.exe
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Server.pdb
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Server.runtimeconfig.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/GestaoEscalaPermutas.Server.staticwebassets.endpoints.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Google.Api.Gax.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Google.Api.Gax.Rest.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Google.Apis.Auth.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Google.Apis.Core.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Google.Apis.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Humanizer.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/it/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Build.Locator.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.CodeAnalysis.CSharp.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.CodeAnalysis.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Data.SqlClient.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Design.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.EntityFrameworkCore.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Caching.Memory.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.Binder.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.Json.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.DependencyInjection.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.DependencyModel.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Diagnostics.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Hosting.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Logging.Configuration.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Logging.Console.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Logging.Debug.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Logging.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Logging.EventLog.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Logging.EventSource.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.ObjectPool.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Options.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Extensions.Primitives.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Identity.Client.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.IdentityModel.Abstractions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.IdentityModel.Logging.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.IdentityModel.Tokens.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.OpenApi.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.SqlServer.Server.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Microsoft.Win32.SystemEvents.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Mono.TextTemplating.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Newtonsoft.Json.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Npgsql.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/out/appsettings.Development.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/out/appsettings.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/out/GestaoEscalaPermutas.Server.deps.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/out/GestaoEscalaPermutas.Server.runtimeconfig.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/out/GestaoEscalaPermutas.Server.staticwebassets.endpoints.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/out/web.config
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/appsettings.Development.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/appsettings.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/appsettings.Production.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/GestaoEscalaPermutas.Server.deps.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/GestaoEscalaPermutas.Server.runtimeconfig.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/GestaoEscalaPermutas.Server.staticwebassets.endpoints.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/out/appsettings.Development.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/out/appsettings.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/out/GestaoEscalaPermutas.Server.deps.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/out/GestaoEscalaPermutas.Server.runtimeconfig.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/out/GestaoEscalaPermutas.Server.staticwebassets.endpoints.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/out/web.config
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/publish/web.config
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/RabbitMQ.Client.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net7.0/System.Management.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/spa.proxy.json
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Swashbuckle.AspNetCore.Swagger.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.ClientModel.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.CodeDom.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Composition.AttributedModel.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Composition.Convention.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Composition.Hosting.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Composition.Runtime.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Composition.TypedParts.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Configuration.ConfigurationManager.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Diagnostics.DiagnosticSource.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Diagnostics.EventLog.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Drawing.Common.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Formats.Asn1.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.IdentityModel.Tokens.Jwt.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.IO.Pipelines.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Management.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Memory.Data.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Runtime.Caching.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Security.Cryptography.ProtectedData.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Security.Permissions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Text.Encodings.Web.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Text.Json.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/System.Windows.Extensions.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
Back/GestaoEscalaPermutas.Server/bin/Release/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
Back/publish/appsettings.Development.json
Back/publish/appsettings.Production.json
Back/publish/firebase-adminsdk.json
Back/publish/FirebaseAdmin.dll
Back/publish/GestaoEscalaPermutas.Dominio.deps.json
Back/publish/GestaoEscalaPermutas.Dominio.dll
Back/publish/GestaoEscalaPermutas.Dominio.pdb
Back/publish/GestaoEscalaPermutas.Infra.dll
Back/publish/GestaoEscalaPermutas.Infra.pdb
Back/publish/GestaoEscalaPermutas.Repository.dll
Back/publish/GestaoEscalaPermutas.Repository.pdb
Back/publish/GestaoEscalaPermutas.Server.deps.json
Back/publish/GestaoEscalaPermutas.Server.dll
Back/publish/GestaoEscalaPermutas.Server.exe
Back/publish/GestaoEscalaPermutas.Server.pdb
Back/publish/Google.Api.Gax.dll
Back/publish/Google.Api.Gax.Rest.dll
Back/publish/Google.Apis.Auth.dll
Back/publish/Google.Apis.Core.dll
Back/publish/Google.Apis.dll
Back/publish/out/appsettings.Development.json
Back/publish/out/appsettings.json
Back/publish/publish/appsettings.Development.json
Back/publish/publish/appsettings.Production.json
Back/publish/publish/out/appsettings.Development.json
Back/publish/publish/out/appsettings.json
Back/publish/runtimes/win/lib/net7.0/System.Management.dll
Back/publish/System.CodeDom.dll
Back/publish/System.Management.dll
