Sistemas
/Sistemas
/Sistemas
/Back/.vs/GestaoEscalaPermutas/DesignTimeBuild/.dtbcache.v2
/Back/.vs/GestaoEscalaPermutas
/Back/.vs/ProjectEvaluation
/Back/package-lock.json
/Back/package.json
*.sqlite
/Front/node_modules/.vite/deps
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Infra.dll
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Infra.pdb
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Repository.dll
/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Repository.pdb

/Front/node_modules/vite/dist/node/chunks

/Back/GestaoEscalaPermutas.Repository/bin/Debug/net8.0/GestaoEscalaPermutas.Repository.deps.json

