# Build output
**/bin/
**/obj/

# VS / Visual Studio
**/.vs/
**/*.user
**/*.suo
**/*.local
**/*.vspscc
**/*.vssscc
**/*.sln.docstates

# Git
**/.git
**/.gitignore
**/.gitattributes

# Markdown e outros docs
**/*.md
**/*.txt
**/*.log
**/*.bak
**/*.tmp
**/*.orig
**/*.rej
**/*.DS_Store
**/*.swp
**/*.sublime-project
**/*.sublime-workspace
**/*.idea
**/*.iml
**/*.ipr
**/*.iws

# NuGet packages
**/*.nupkg
**/*.snupkg

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Certificados e configurações locais (opcional)
certificado.pfx
appsettings.Development.json
.env

