.gerar-escala-btn-mes-seguinte {
    background-color: rgb(140, 140, 140) !important;  /* 🔥 Define a cor laranja */
    color: rgb(0, 0, 0) !important; /* 🔥 Texto branco */    
    white-space: pre-line;  /* 🔥 Permite quebra de linha */
}

.gerar-escala-btn-visualizar-escala {
    background-color: rgb(38, 127, 3) !important;  
    color: rgb(0, 0, 0) !important; 
    white-space: pre-line;
}

.gerar-escala-btn-gerar-escala {
    background-color: rgb(213, 220, 2) !important;  /* 🔥 Define a cor laranja */
    color: rgb(0, 0, 0) !important; /* 🔥 Texto branco */    
    white-space: pre-line;  /* 🔥 Permite quebra de linha */
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo cinza translúcido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que fique acima de tudo */
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3; /* Cinza claro */
    border-top: 4px solid #3498db; /* Azul */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}